<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>  
    <h3>Keep Smile</h3>
    {% load static %}
    <img src="{% static 'students/images/Hello-Kitty-15.jpg' %}" 
	                     alt="Pretty kitty" width="100" height="100">
	<br><br>
    <a href="../students/group_tmpl" title="Drugs & Rock'n'Roll">Groups&Students</a><br><br>
    <a href="../students/new_tag/1" title="other from set above"> Show Groups</a><br>
    <a href="../students/new_tag/0" title="Show Students"> Show Students</a>
  </body>
</html>

