<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {border: 1px solid pink;}
      th {background-color:#aaa}
	</style>
  </head>
  <body>
    <h1>Student list from {{StudentList.first.st_group.name}} group</h1>
    <table>   
      <tr>
        <th>Full Name</th>
    	<th>Birthday</th>
		<th>Student Card Number</th>
		<th><a href="../crt_std/0">create</a></th>
     </tr>
     {% for student in StudentList %}
        <tr>
    	  <td>{{ student.full_name }}</td>
	      <td>{{ student.birthday }}</td>
    	  <td>{{ student.student_card }}</td>
		  <td>
			<a href="../edt_std/{{student.id}}">edit</a>
			<a href="../dlt_std/{{student.id}}">delete</a>
		  </td>
      </tr>
     {% endfor %}
    </table>
	<h2><a href="../group_tmpl">Back to Groups</a></h2>
  </body>
</html>
