li a {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  color: white;
}
body {
  opacity:0.9  ;  background: white url("images/london.jpg") no-repeat right bottom;
  background-size: 100%; 
}
img {
 border: 3px #ccc solid; border-radius: 100px;
}
